/* Filter.module.css */

.filterContainer {
    min-width: 100px;
    background-color: #6b7280; /* bg-gray-500 */
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Match font style with Header.module.css */
.filterButton {
    padding: 0.5rem 1rem;
    border: 2px solid #ccc;
    border-radius: 9999px;
    font-size: 0.875rem; /* Same as Header font size */
    font-weight: 600; /* Same as Header font weight */
    color: #f7fafc;
    background-color: #FFC107; /* Custom color for Filter */
    cursor: pointer;
    transition: all 0.3s ease;
}

.filterButton:hover {
    background-color: #FFD54F;
    transform: translateY(-2px);
}
