/* Form.module.css */
.formContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
  margin: auto;
  max-width: 800px;
  background: var(--primary);
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.fullPage {
  min-height: 100vh;
  padding: .5rem;
  min-width: 100vw;
}

.imageContainer {
  position: relative;
  min-height: 200px;
  height: min(50vw, 40vh);
  max-height: 400px;
  width: 100%;
  margin-bottom: 2rem;
  flex-shrink: 2;
}

.image {
  object-fit: cover;
  border-radius: 20px;
  border: 2px solid var(--secondary-accent);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: var(--secondary);
}

.inputFieldContainer {
  width: 100%;
  margin-bottom: 1.5rem;
  border-radius: 10px;
}

.grouped {
  width: 100%;
  display: flex;
  column-gap: .5rem;
}

.flexGrow {
  flex-grow: 2;
}

.flexShrink {
  flex-shrink: 2;
}

.inputField {
  width: 100%;
  min-width: 100px;
  padding: 0.75rem;
  border-radius: 10px;
  font-size: 1rem;
  transition: border-color 0.2s ease-in-out, transform 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.yearField {
  height: 50px;
  outline: none;
  min-width: 100px;
  padding: 0.75rem;
  border-radius: 10px;
  font-size: 1rem;
  border: 1px solid var(--secondary);
  transition: border-color 0.2s ease-in-out, transform 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.inputField:disabled,
.inputField:read-only,
.yearField:disabled,
.divReadOnly {
  background-color: var(--secondary) !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: var(--foreground);
  opacity: 1;
}

.textareaField {
  min-height: 8em;
  vertical-align: bottom;
}

.inputField:read-write:focus,
.yearField:focus {
  border-color: var(--tertiary-active);
  box-shadow: 0 0 8px rgba(from var(--tertiary-active) r g b / 0.6);
  transform: scale(1.02);
}

.divLoading {
  color: #9ca3b0 !important;
}

.formFieldsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textareaContainer {
  width: 100%;
  margin: 1.5rem 0;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.loading {
  background-color: var(--secondary);
  width: 5.5rem;
  height: 2.5rem;
}

.error {
  color: var(--red);
  margin-bottom: 1.5em;
}

.label {
  color: var(--foreground);
  font-weight: 700;
  padding-left: 5px;
}

@media (max-width: 570px) {
  .grouped {
    display: grid;
    grid-template: auto auto auto / auto auto;
  }

  .flexGrow {
    grid-column: span 2;
  }
}

@media (prefers-color-scheme: light) {
  .yearField {
    border: 1px solid #cbd5e0;
  }
}