/* Form.module.css */

.pageContainer {
  padding: 1em;
  min-width: 100vw;
  min-height: 100vh;
}

.formContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin: auto;
    max-width: 800px;
    /*background: linear-gradient(135deg, #2d3748, #1a202c); */
    background: #1a202c;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  .imageContainer {
    position: relative;
    height: 400px;
    width: 100%;
    margin-bottom: 2rem;
  }
  
  .image {
    object-fit: contain;
    border-radius: 20px;
    border: 2px solid #4a5568;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .image:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  .inputFieldContainer {
    width: 100%;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .inputField {
    width: 100%;
    padding: 0.75rem;
    border-radius: 10px;
    border: 1px solid #cbd5e0;
    font-size: 1rem;
    color: #1a202c;
    background-color: #edf2f7;
    transition: border-color 0.2s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .inputField:focus {
    border-color: var(--tertiary-active);
    outline: none;
    box-shadow: 0 0 8px rgba(from var(--tertiary-active) r g b / 0.6);
    transform: scale(1.02);
  }
  
  .formFieldsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .textareaContainer {
    width: 100%;
    margin: 1.5rem 0;
  }
  
  .buttonContainer {
    display: grid;
    grid: auto / auto auto;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
  }
  
