/* src/app/Header.module.css */

.header {
  container-name: header;
  position: sticky;
  /* Keep header at the top of the viewport */
  top: 0;
  /* Align header to the top */
  z-index: 1000;
  height: 100%;
  /* Ensure header stays on top of other elements */
  color: white;
  /* Add shadow for better visibility */
}

.buttons {
  grid-area: buttons;
  gap: .5em;
  display: flex;
  justify-content: right;
}

/* Default styling for desktop */
.leftSection {
  grid-area: title;
}

.searchContainer {
  grid-area: search;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.searchInput {
  min-width: 150px;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1rem;
}

.searchButton {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  background-color: var(--tertiary);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.searchButton:hover {
  background-color: var(--tertiary-hover);
}

.searchButton:active {
  background-color: var(--tertiary-active);
}

.nav {
  background-color: var(--primary);
  padding: 1rem 1.5rem;
  height: 100%;
  container: nav / size;
  min-width: 150px;
  grid-area: nav;
  display: grid;
  grid-template: 3em / min-content 1fr max-content;
  column-gap: 1em;
  row-gap: .5em;
  align-items: center;
  grid-template-areas:
    "title nav";
  grid-template-areas:
  "title search buttons";
}

@media (max-width: 646px) {
  .nav {
    grid-template: 3em 3em / min-content auto;
    grid-template-areas: "title buttons" "search search";
  }
}
@media (max-width: 390px) {
  .nav {
    grid-template: 3em 3em 3em / auto;
    grid-template-areas: "title" "buttons" "search";
    justify-items: center;
  }
  .searchContainer {
    justify-self: stretch;
  }
}