/* src/app/Header.module.css */

.header {
  container: header / size;
  z-index: 1;
  display: grid;
  grid-template: 3em / max-content 1fr auto;
  gap: 2em;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  background-color: var(--primary);
  color: white;
  width: 100%;
  justify-content: center;
  grid-template-areas:
    "title search nav";
}

/* Default styling for desktop */
.leftSection {
  grid-area: title;
}

.searchContainer {
  grid-area: search;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.searchInput {
  min-width: 150px;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1rem;
}

.searchButton {
  flex-shrink: 2;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  background-color: var(--tertiary);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.searchButton:hover {
  background-color: var(--tertiary-hover);
}

.searchButton:active {
  background-color: var(--tertiary-active);
}

.nav {
  grid-area: nav;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.greeting {
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  font-size: .95rem;
  /* Adjust size */
  font-weight: bold;
  color: var(--tertiary-alt);
  /* Light green for emphasis */
  padding: 0.5rem;
  border: 1px solid var(--tertiary-alt);
  /* Optional border */
  border-radius: 5px;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.greeting:hover {
  color: var(--tertiary-alt-hover);
  /* Darker green on hover */
}

.buttons {
  min-width: 350px;
  width: 100%;
  container: buttons / size;
  gap: 1em;
  align-items: center;
}

@media (max-width: 850px) {
  .header {
    grid-template: 3em 3em / 1fr;
    grid-template-areas:
      "title nav"
      "search search";
    row-gap: .5em;
  }

  /* Responsive layout for small screens */
  @container header (width > 850px) {

    .leftSection {
      width: 100%;
      justify-content: left;
    }

    .searchContainer {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .nav {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
}


@media (max-width: 450px) {
  .header {
    grid-template: 3em auto 3em / 1fr;
    grid-template-areas:
      "title hamburger"
      "nav nav"
      "search search";
    row-gap: .25em;
  }
  .buttons {
    display: none;
    flex-direction: row;
    padding: .25em;
    border-radius: .375em;
    border: 1px solid var(--secondary);
  }

  @container buttons (width > 100px) {

    .hamburger {
      grid-area: hamburger;
      display: flex;
    }

    .nav {
      align-items: flex-end;
    }

    .hamburger {
      display: none;
    }
  }
}

@media (min-width: 451px) {
  .buttons {
    display: flex !important;
  }

  .hamburger {
    display: none;
  }
}