.container {
    display: grid;
    grid-template: auto / min-content auto;
    padding-top: 4.5em; /* Add top padding equivalent to header height (4.5em includes header height and additional margin) */
    gap: 1.5em; /* Add some gap between filters and cars */
}

@media (max-width: 768px) {
    .container {
        grid-template: min-content auto / auto; 
        padding-top: 5em;
    }
}