/* login/LoginPage.module.css */

.formContainer {
    width: 100%;
    max-width: 24rem; /* max-w-sm */
    padding: 1.5rem;
    background-color: white;
    border-radius: 0.5rem; /* rounded-lg */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-md */
}

.title {
    font-size: 1.5rem; /* text-2xl */
    font-weight: 600; /* font-semibold */
    text-align: center;
    color: #2d3748; /* text-gray-800 */
    margin-bottom: 1rem;
}

.inputGroup {
    margin-bottom: 1rem;
}

.label {
    display: block;
    color: #4a5568; /* text-gray-700 */
    font-weight: 500; /* font-medium */
}

.input {
    width: 100%;
    padding: 0.5rem 1rem;
    margin-top: 0.25rem;
    border: 1px solid #cbd5e0; /* gray-300 */
    border-radius: 0.375rem; /* rounded-md */
    outline: none;
}

.input:focus {
    box-shadow: 0 0 0 2px var(--tertiary-active); /* focus:ring-2 focus:ring-blue-500 */
}

.submitButton {
    width: 100%;
    padding: 0.5rem;
    margin-top: 1rem;
    color: white;
    background-color: var(--tertiary-alt); /* bg-green-500 */
    border-radius: 0.375rem; /* rounded-md */
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.loginButton {
    width: 100%;
    padding: 0.5rem;
    margin-top: 1rem;
    color: white;
    background-color: var(--tertiary); /* bg-green-500 */
    border-radius: 0.375rem; /* rounded-md */
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.submitButton:hover {
    background-color: var(--tertiary-alt-hover); /* hover:bg-green-600 */
}

.loginButton:hover {
    background-color: var(--tertiary-hover); /* hover:bg-green-600 */
}

.submitButton:active {
    background-color: var(--tertiary-alt-active); /* hover:bg-green-600 */
}

.loginButton:active {
    background-color: var(--tertiary-active); /* hover:bg-green-600 */
}

.linksContainer {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.linkButton {
    color: var(--tertiary); /* text-blue-500 */
    text-decoration: none;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.linkButton:hover {
    text-decoration: underline;
}

.error {
    color: red;
    margin-top: 0.5rem;
    font-size: 0.9rem;
}
  